h1, p {
  font-family: Lato;
}

ul {
  list-style-type:none;
  display:flex;
  justify-content: center;
  background-color: #333;
}

li {
  float: left;
}

#Bottum {
  position: fixed;
  background-Color: #333;
  padding: 14px 16px;
  bottom: 0px;
  width: 100%;
}

#Bottum a{
  color: white;
}

button {
  background-color: #333;
  border: none;
}

li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li button:hover {
  background-color: #4CAF50;
}

button:focus {
  background-color: #4CAF50;
}

button:active {
  border-color: #333
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#displayName {
    text-align: center;
    display: block;
    color: white;
    font-size: 30px;
    position: relative;

}

#background {
  background-color: black;
  height: 100vh;
}

#test p {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}